
.SanPham{
    background-color: blueviolet;
    min-height: 1010px;
    width: 96%;
    margin: 120px auto 0;
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: 411px 1227px;
    gap: 20px;
    transition: transform .5s;
}

/* .SanPham > div{
    margin: 20px;
} */
.content-left{
    /* position: absolute; */
    inset: 30px;
    /* margin: 20px; */
    min-width: 350px;
    height: 500px;
    background-color: aqua;
    border: 10px solid #333;
    border-radius: 20px;
    padding: 20px;
}

.content-left h3{
    text-align: center;
}

.content-left div{
    margin: 40px 0;
}

.content-left input,
.content-left select{
    height: 30px;
}

.imput-box{
    position: relative;
    margin: 10px;
}

.imput-box input:focus{
    width: 100%;
}


.imput-box input{
    border-radius: 8px;
    width: 65%;
    transition: width 0.5s ease-in-out;
    padding-left: 30px;
}

.imput-box label{
    position: absolute;
    top: -4px;
    left: 10px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--mycolor1);
    pointer-events: none;
    transition: .5s;
}

.imput button{
    width: 50px;
    border-radius: 0 8px 8px 0;

}

.timTheoNgay button,
.button button{
    width: 100%;
    height: 50px;
    background-color: var(--mycolor2);
    color: var(--mycolor1);
    border: 3px solid var(--mycolor1);
    outline: none;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: bolder;
}

.content-left button:hover{
    background-color: var(--mycolor1);
    color: var(--mycolor2);
    cursor: pointer;
    transition: .6s;
}

.content-right{
    /* position: absolute; */
    right: 0;
    border-radius: 20px;
    min-width: 400px;
    min-height: 390px;
    background-color: #333;
}

.main{
    position: relative;
    /* inset: 20px; */
    margin: 20px;
    min-height: 400px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    background-color:#fff;
    border-radius: 20px;
}
@media(max-width: 1675px){
    .SanPham{
        grid-template-columns: repeat(1,1fr);
    }

    .main .product{
        height: 510px !important;
    }
}
@media (max-width: 1400px){
    .main{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1034px){
    .main{
        grid-template-columns:  repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    .main{
        grid-template-columns:  repeat(1, 1fr);
    }
}

.main .product{
    text-align: center;
    background-color: #eeeee6;
    padding: 10px;
    border-radius: 20px;
    height: 420px;
    position: relative;
}

.main .product img{
    width: 90%;
    transition: .4s;
    cursor: pointer;
}

.main .product img:hover{
    transform: translateY(-15px);
}
.main .product h2{
    font-weight: 500;
    font-size: larger;
}

.main .product .price{
    letter-spacing: 2px;
}

.main .product button{
    background-color: #333;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    border-radius: 12px;
    /* border: none; */
    cursor: pointer;
    position: absolute;
    inset: auto 10px 10px 10px;
    transition: .3s;
}

.main .product button:hover{
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}
.cartTab{
    width: 500px;
    background-color: #333;
    color: #fff;
    position: fixed;
    inset: 100px -500px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s ;
}

body.showCart .cartTab{
    inset: 100px 0px 0 auto;
}

/* body.showCart .SanPham{
    transform: translateX(-440px);
} */
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button{
    background-color: yellow;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: #f8643f;
}

.cartTab .listCart .product{
    display: grid;
    grid-template-columns: 70px 180px 110px 90px;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.cartTab .listCart .product img{
    width: 100%;
}

.cartTab .quantity span{
    display: inline-block;
    width: 25px;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

.cartTab .quantity span:nth-child(2){
    background-color: transparent;
    color: #fff;
}

.cartTab .product:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

.listPage{
    padding: 0 10px 20px;
    text-align: center;
    list-style: none;
    position: relative;
}

.listPage li{
    background-color: #fff;
    color: #333;
    padding: 12px 20px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
}

.listPage li:hover:not(.active) {
    background-color: #f1e45a;
    color: #fff;
}
.listPage .active{
    background-color: #66e720;
    color: #fff;
}